<form action="/add" method="POST">
  <p>Tarefa: </p>
  <input type="text" name="tarefa">
  <p>Prioridade:</p>
  <input type="text" name="prioridade">
  <br>
  <br>
  <button type="submit" name="cadastrarTarefa">Cadastrar</button>
  <button type="button" onclick="window.location.href = '/home'">Home</button>
</form>
